if user
  div.welcomebox
    // Filtered inline output
    p.
      Welcome, #{user.name},Hello, #{user.pipi},Byebye, #{user.jojo}
else
  div.loginbox
    form(name="login", action="/login", method="post")
      input(type="text", name="user")
      input(type="password", name="pass")
      input(type="submit", value="login")